<!-- <nav-bar-fixed></nav-bar-fixed> -->
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="portfolio">Portfolio</a></li>
      <li><a ui-sref="contact">Contact</a></li>
    </ul>
  </div>
</nav>


<div class="check-out-work">
  <h3>Check out my work here</h3>
  <div class="arrow bounce"></div>

</div>

<div class="bottom">
  <h4>Having spent my past life in tech sales, I'm passionate about delivering awesome mobile and web experiences</h4>
</div>

<div class="middle">
  <h2>I'm a web developer based in San Francisco</h2>
</div>

<div class="top">
  <h1>Hi, I'm Heather</h1>
</div>
